{
    "Azure" : {
        "connection_string" : "DefaultEndpointsProtocol=https;AccountName=<YOUR_ACCOUNT_NAME>;AccountKey=<YOUR_ACCOUNT_KEY>;BlobEndpoint=https://<YOUR_ACCOUNT_NAME>.blob.core.windows.net/;QueueEndpoint=https://<YOUR_ACCOUNT_NAME>.queue.core.windows.net/;TableEndpoint=https://<YOUR_ACCOUNT_NAME>.table.core.windows.net/;FileEndpoint=https://<YOUR_ACCOUNT_NAME>.file.core.windows.net/;",
        "container_name" : "<YOUR_BLOB_CONTAINER_NAME>",
        "folder_path" : "<FOLDER_NAME>",
        "local_path" : "data"
    }
}